@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.option {
  font-size: 1.5rem;
}

img {
  object-fit: contain;
}

button {
  all: unset;
  width: 167px;
  height: 50px;
  border-radius: 8px;
  background-color: #8eadd5;
  text-align: center;
  color: white;
}

.arrow {
  width: 40px;
  height: 40px;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    180deg,
    rgba(50, 50, 50, 0.2),
    rgba(0, 0, 0, 0)
  );
  position: fixed;
  top: 0;
}

header > .navbar {
  width: 80%;
  max-width: 1440px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header > .navbar > .logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0cap;
  width: 600px;
}

header > .navbar > .quick {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: end;
  width: 475px;
}

header > .navbar > .option {
  visibility: hidden;
}

.hero {
  width: 80%;
  max-width: 1075px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5pc;
}

.hero > .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.hero > .text > div > h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
}

.hero > .text > div > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
}

.hero > .text > .button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.trusted-by {
  width: 80%;
  max-width: 1075px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.trusted-by > .header {
  height: 50px;
}

.trusted-by > .comp-logo {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 40px;
}

.branding-design {
  width: 80%;
  max-width: 1075px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.branding-design > .pic {
}

.branding-design > .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.branding-design > .text > div > h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
}

.branding-design > .text > div > p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
}

.branding-design > .text > .arrow-img {
  width: 100%;
  height: 40px;
}

.custom-plugin {
  width: 80%;
  max-width: 1075px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.custom-plugin > .pic {
}

.custom-plugin > .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.custom-plugin > .text > div > h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
}

.custom-plugin > .text > div > p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
}

.custom-plugin > .text > .arrow-img {
  width: 100%;
  height: 40px;
}

.testimonials {
  width: 80%;
  max-width: 1075px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.testimonials > .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.testimonials > .outie {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testimonials > .outie > .innie {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  text-align: center;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
  text-wrap: balance;
}

.testimonials > .text > div > h1 {
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-wrap: balance;
}

.testimonials > .text > div > p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  text-wrap: balance;
}

.big {
  width: 80%;
  max-width: 1075px;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 2pc;
}

.big > .pic {
}

.big > .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.big > .text > div > h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
}

.big > .text > div > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: balance;
}

.big > .text > .button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

footer {
  width: 100%;
  height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  line-height: 3;
  margin-top: 50px;
  background-color: #f6f6f6;
}

footer > .links-outie {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  header {
    height: 150px;
    min-width: 400px;
    position: fixed;
    top: 0;
  }

  header > .navbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  header > .navbar > .logo {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0cap;
  }

  header > .navbar > .quick {
    display: none;
  }

  header > .navbar > .option {
    visibility: visible;
  }

  .hero {
    width: 80%;
    min-width: 400px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 2.5pc;
  }

  .hero > .text > div > h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
  }

  .hero > .text > div > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .hero > .text > .button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hero > .pic > img {
    width: 100%;
    object-fit: contain;
  }

  .trusted-by {
    width: 100%;
    min-width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .trusted-by > .header {
    height: 50px;
  }

  .trusted-by > .comp-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #f6f6f6;
    padding: 40px;
  }

  .trusted-by > .comp-logo > img {
    width: 100%;
  }

  .branding-design {
    width: 80%;
    min-width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .branding-design > .pic > img {
    width: 100%;
    object-fit: contain;
  }

  .branding-design > .text > div > h1 {
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
  }

  .branding-design > .text > div > p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .branding-design > .text > .arrow-img {
    width: 100%;
    height: 40px;
    display: flex;
  }

  .custom-plugin {
    width: 80%;
    min-width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .custom-plugin > .pic > img {
    width: 100%;
    object-fit: contain;
  }

  .custom-plugin > .text > div > h1 {
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
  }

  .custom-plugin > .text > div > p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .custom-plugin > .text > .arrow-img {
    width: 100%;
    height: 40px;
    display: flex;
  }

  .testimonials {
    width: 80%;
    min-width: 400px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .testimonials > .outie {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .testimonials > .outie > .innie {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    text-align: center;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
  }

  .testimonials > .text > div > h1 {
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
  }

  .testimonials > .text > div > p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .big {
    width: 80%;
    min-width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f6f6f6;
    border-radius: 20px;
  }

  .big > .pic {
    display: none;
  }

  .big > .text > div > h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
  }

  .big > .text > div > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .big > .text > .button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer > .links-outie {
    width: 30pc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .arrow {
    rotate: 90deg;
  }
}
